*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    background-color: #080710;
    display: flex;
}
a {
    text-decoration: none;
    color: #23a2f6;
    &:hover{
        color: rgb(146, 68, 0);
    }
}
::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: gray; 
  border-radius: 6px; 
}

::-webkit-scrollbar-track {
  background-color: #080710; 
}
.background{
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    transition: .5s;
}
.background .shape{
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
    transition: .5s;
}
.shape:first-child{
    background: linear-gradient(
        #1845ad,
        #23a2f6
    );
    left: -80px;
    top: -80px;
}
.shape:last-child{
    background: linear-gradient(
        to right,
        #ff512f,
        #f09819
    );
    right: -30px;
    bottom: -80px;
}
.forms{
    height: 520px;
    width: 400px;
    overflow: hidden;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
}
.forms *{
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
.forms h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

label{
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}
input{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}
::placeholder{
    color: #e5e5e5;
}
.log_reg{
    margin-top: 40px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    transition: .5s;
    &:hover {
        background-color: #595959;
    }
}
.reg_or_log{
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
.reg_or_log button{
    background-color: none;
    padding: 15px;
}

.redirector {
    color: #080710;
}

main {
    z-index: 100;
    color: #e5e5e5;
    background-color: rgb(4, 0, 28);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    max-width: 250px;
    height: 100vh;
    padding: 30px;
    transition: 0.5s;
}

.footerBox{
    font-size: small;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    color: #23a2f6;
}

.account_content {
    max-width: 160px;
    padding: 10px;
    border-radius: 15px;
    gap: 10px;
    font-size: large;
    background-color: rgba(255,255,255,0.13);
    border: 2px solid rgba(255,255,255,0.1);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.account_content_elm img {
    height: 25px;
    width: 25px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 100%;
}

.panel {
    margin-top: 20px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.panel_elm {
    transition: 400ms;
    padding: 5px;
    cursor: pointer;
    &:not(.active):hover{
        background-color: #080710;
        color: #1845ad;
    }
}

.contentBox{
    width: 100%;
    display: flex;
    padding: 50px;
    color: #e5e5e5;
}

.active {
    color: #f09819;
    cursor: default;
}
.contentBox_elm {
    width: 50%;
}
.contentBox_elm img {
    width: 150px;
    height: 150px;
    border: 2px solid #4141ff53;
    border-radius: 15px;
}

.userData {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.userStatus {
    font-size: large;
}

.idBox {
    max-width: 200px;
    padding: 5px;
    background-color: rgba(255,255,255,0.13);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    text-align: center;
}

.editUserData {
    padding: 10px;
    font-size: large;
    background-color: #1845ad7a;
    color: #ffffff;
    outline: none;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255, 255, 255, 0.215);
    transition: 400ms;
    cursor: pointer;
    &:hover {
        background-color: #f09619;
        color: #080710;
    }
}

.rules {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rules ul {
    gap: 10px;
    margin-top: 15px;
    
}

.grace {
    margin-bottom: 20px;
    font-size: 20px;
}

#response {
    position: fixed;
    
}

.globalChat {
    width: 100%;
    max-height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.chat {
    scrollbar-width: 5px;
    margin: 0 0 10px;
    padding-right: 10px;
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    scroll-behavior: auto;
    height: 20vh;
    position: relative;
}

.messagePanel {
    display: flex;
}

.messagePanel input {
    color: #ffffff;
    background-color: #1f18ad;
    outline: none;
    border: none;
    border-radius: 0;
    max-width: 100%;
    margin: 0;
}
.messagePanel input:last-child {
    cursor: pointer;
    width: 20%;
    transition: 400ms;
    background-color: rgb(255, 255, 255)8ad;
    &:hover {
        background-color: #18ad2e;
    }
}

.pChat {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 35px;
}

.privateChat {
    max-height: inherit;
    border: 2px solid #e5e5e5;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 10px;
}

.panelPChats {
    overflow: auto;
    height: 100%;
    width: 300px;
    background-color: rgba(255,255,255,0.13);
    border: 2px solid rgba(255,255,255,0.1);
    border-radius: 5px;
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#newPrivateChat {
    position: fixed;
    margin-bottom: 5px;
    bottom: 0;
    transition: 200ms;
    &:hover {
        background-color: rgba(60, 60, 60, 0.1);
        border: 2px solid rgba(60,225,60,0.1);
    }
}

.message {
    list-style: none;
    padding: 15px;
    font-size: 15px;
    background-color: rgba(255,255,255,0.13);
    backdrop-filter: blur(10px);
    margin-top: 5px;
    border-radius: 5px;
    .user_name{
        font-size: small;
    }
    .user_message {
        font-size: 20px;
    }
    .data {
        font-size: smaller;
    }
    .name_img {
        display: flex;
    }
    img {
        margin-right: 5px;
        height: 20px;
        width: 20px;
        border-radius: 100%;
    }
}

.dialog {
    height: 100%;
    width: 100%;
    background-color: #080710;
    position: fixed;
    border-radius: 5px;
    padding: 10px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dialog_elm, .panelPChats-elm{
    outline: none;
    border-radius: 2px;
    border: 1px solid #fff;
    color: #e5e5e5;
    font-size: 15px;
    letter-spacing: 1px;
    font-weight:600;
    padding:8px 12px;
}
input:invalid{
    animation: shake 300ms;
    color: rgb(255, 35, 35);
}
@keyframes shake {
    25%{transform:translateX(4px);}
    50%{transform:translateX(-4px);}
    75%{transform:translateX(4px);}
}
.buttons {
    transition: 300ms;
    display: flex;
    align-items: center;
    &:hover {
        cursor: pointer;
        color: #080710;
        background-color: #595959;
    }
}
.privateChats-panel-elements {
    display: flex;
    gap: 10px;
    text-align: center;
    img {
        height: 10px;
        width: 10px;
    }
}
#err {
    color: red;
    font-size: 15px;
}

.chat_MesPanel {
    max-height: inherit;
    display: flex;
    flex-direction: column;
}
.pull-out_btn {
    display: none;
    content: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M214.6 41.4c-12.5-12.5-32.8-12.5-45.3 0l-160 160c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L160 141.2 160 448c0 17.7 14.3 32 32 32s32-14.3 32-32l0-306.7L329.4 246.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3l-160-160z"/></svg>';
}

.rotation_btn {
    transform: 0.2s;
    transform: rotate(-180deg);
}

.pull-out_main {
    height: 100%;
    transition: 0.5s;
}

.hide {
    display: none;
}

.back_to_list {
    display: none;
    background-color: #222d50; 
    color: #FFFFFF;
    border: 2px solid #3d2e5e;
    padding: 5px 10px; 
    font-size: 16px; 
    cursor: pointer;  
    border-radius: 5px; 
    transition: background-color 0.3s, border-color 0.3s;
    position: fixed;
    z-index: 99;
    top: 10px;
    left: 10px;
}

@media (max-width: 865px){
    .pull-out_btn {
        display: block;
        background-color: #222d50; 
        color: #FFFFFF;
        border: 2px solid #3d2e5e;
        padding: 5px 10px; 
        font-size: 16px; 
        cursor: pointer;  
        border-radius: 5px; 
        transition: background-color 0.3s, border-color 0.3s;
        position: fixed;
        bottom: 10px;
        left: 10px;
        &:hover {
            background-color: #222d50; 
            border-color: #222d50; 
        }
        img {
            height: 50px;
            width: 50px;
        }
    }
    main {
        position: fixed;
        width: 100%;
        height: 0;
        margin-bottom: 0;
        bottom: 0;
        flex-direction: row;
        justify-content: space-between;
        padding: 5px;
    }
    .footerBox {
        display: none;
    }
    .contentBox {
        flex-direction: column;
        gap:10px;
        height: 100vh;
    }
    .pChat,.globalChat {
        height: 100%;
    }
    .rules{
        align-items: flex-start;
    }
}

@media (max-width:710px) {
    .pChat {
        padding: 0;
    }
    .contentBox {
        padding: 10px;
    }
}

@media (max-width: 320px) {
    main {
        width: 100%;
    }
    .chat_MesPanel {
        display: none;
    }
    .user_message {
        font-size: 15px
    }
    .contentBox {
        align-items: center;  
    }
    .userData {
        flex-direction: column-reverse;
    }
}